root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

[*.gd]
indent_style = tab
indent_size = 4

[*.{tscn,tres,gdshader,import,godot}]
indent_style = tab
indent_size = 4

[*.{json,yml,yaml,md}]
indent_style = space
indent_size = 2

[*.{py,ps1,sh}]
indent_style = space
indent_size = 4

[Makefile]
indent_style = tab
